html,body{
    display: flex;
    justify-content: center;
    background-color: black;
    background-image: url("images/space.png");
}

#canvas{
    border: 5px solid rgb(255, 158, 218);
    justify-content: center;
    background-image: url("images/purspace.png")
    
}

header{
    font-family: 'Xanh Mono', monospace;
    
    text-align: center;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Kalam', cursive;

}
#container{
    background-color: rgb(122, 49, 85);
}

footer{
    text-align: center;
}
