body {
    background-color: antiquewhite;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif, Times, serif;
    color: blueviolet;
}

h1 {
    text-align: center;
    color: brown;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 1px solid brown;
}